@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:wght@100;200;300;400&family=Mr+Bedfort&family=Oswald:wght@200;300;500&display=swap');

:root {

    --white: #ffffffff;
    --rich-black-fogra-39: #070707ff;
    --space-cadet: #0f1943ff;
    --celeste: #bcf0eaff;
    --claret: #6c1e31ff;
    --cerise: #d1345bff;

    --text-gray: #adb9c7;
    --text-white: #f3f4f6;
    --text-blank: #050404;

    --fire: #ff6d00;
    --electric: #27d4e0;
    --blue: #030b75;
}


*{
    margin: 0%;
    padding: 0%;
    list-style-type: none;
    text-decoration: none;
    font-family: "Montserrat", "bedfort&family";
    box-sizing: border-box;
    
}

body{
    background-color: #ffedd9;
    
    
}




.header{
    background: linear-gradient(#1d5d79,#f5e1cc);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 30px;
    position: fixed;

}

.header img {
    height: 100%
    background-size: contain;
    
}
    
.navbar {
    gap: 18px;
    justify-content: center;
}


.navbar, ul, li, a {
    gap: 10px;
    color: #050404;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}
.navbar p{
    font-weight: 800;
    font-size: 13px;
}

.navbar, a, img{
    justify-content:center ;
    margin-top: 3px;
    font-weight: 600;
    height: 70%;
    padding: 0px 10px;
    align-items: center;
    
}

main{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #050404;
    width: 100%;
    
}

#hero{
    
    margin-top: 65px;
    padding: 10px 0;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    
    
}

.hero-info{
   display: flex;
   flex-direction: column;
   gap: 15px;
   
}

.hero-img{
    width:300px;
    height: 250px;
    border-radius: 30px;
}


.hero-info h1{
    font-size: 40px;
    width: 85%;
    min-width: 600px;
    color: var(--rich-black-fogra-39)
}

.hero-info p{
    font-size: 17px;
    width: 95%;
    
}
.hero-info p span{
    font-weight: 800;
}

.hero-info ul li a{
    color: #fdf7f7;
    background-color: #02085f;
    font-size: 17px;
    font-weight: 900;
    justify-content: center;
    text-align: center;
    padding: 8px;
    background: rgb(194,127,12);
background: linear-gradient(90deg, rgba(194,127,12,1) 6%, rgba(231,157,67,1) 100%);
    border-radius: 10px;
}

.hero-img{
    
    width: 300px;
    height: 300px;
    margin-top: 2rem;
    align-content: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    
}

.extra{
    padding:20px;
    justify-content: center;
    align-content: center;
    font-size: 16px;
    margin-right: 10%;
    margin-left: 10%;
    width: 70%;
    height: 180px
    
}
.footer{
    width: 100%;
    height:80px;
    background: linear-gradient(#f5e1cc, #1d5d79);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;  
    flex-direction: column;
    
    position:fixed;
    left:0px;
    bottom:0px;
    
}
.footer a{
    
    
    font-weight: 300;
    font-size: 12px;
    display: flex;
  
    
    
    
}
.tucuman{
    
    font-size: 12px;
    display: flex;
    padding: 12px 0;
    justify-content: center;
    align-items: center;
    
}
.tucuman span{

    color: #050404;
    font-weight: 700;
    font-size: 14px;
    display: flex;
}

